body {
    font-family: Arial, sans-serif;
    width: 60%;
    height: 10px;
    padding: 200px;
    background-color: #de8888;
}

#t {
    width: 50%;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

#add-task-btn {
    width: 100px;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
}
   

